name: Vocalizr
services:
  vocalizr:
    image: ghcr.io/alphaspheredotai/vocalizr:latest@sha256:df1f4fa0615ae3f34249454ddc3a74e3fd955332da507ff2c7d5373190037863
    ports:
      - "7860:7860"
    volumes:
      - huggingface:/home/app/hf
      - results:/home/app/results
      - logs:/home/app/logs
    post_start:
      - command: chown -R app:app /home/app
        user: root
    environment:
      - GRADIO_SERVER_PORT=7860
    healthcheck:
      test:
        - "CMD"
        - "curl"
        - "-o"
        - "/dev/null"
        - "-f"
        - "-s"
        - "-w"
        - "'Status: %{http_code},\tTime: %{time_total}s'"
        - "http://localhost:7860/"
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
      start_interval: 5s
volumes:
  huggingface:
  results:
  logs:
