name: Docker Image
on:
  workflow_call:
    inputs:
      is_test:
        type: boolean
        required: true
        description: Test Mode
      registry:
        type: string
        required: true
        description: Registry
      install_source:
        type: string
        required: true
        description: Source to install from (e.g., PyPI Package or Git source)
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
jobs:
  check_dockerfile:
    name: Validate Dockerfile
    runs-on: ubuntu-latest
    if: ${{ inputs.is_test }}
    environment:
      name: code_quality
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Log in to ${{ inputs.registry }} Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ inputs.registry }}
          username: mh0386
          password: ${{ inputs.registry == 'ghcr.io' && secrets.GH_TOKEN || inputs.registry == 'docker.io' && secrets.TOKEN_KEY_DOCKER
            }}
      - name: Validate build configuration
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          call: check
      - name: Job Summary (Success)
        if: ${{ success() }}
        run: |
          echo "# Dockerfile Check" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "No issues found :heavy_check_mark:" >> $GITHUB_STEP_SUMMARY
      - name: Job Summary (Failure)
        if: ${{ failure() }}
        run: |
          echo "# Dockerfile Check" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Check failed :x:" >> $GITHUB_STEP_SUMMARY
  build_image:
    name: Build and push Docker image to ${{ inputs.registry }}
    needs: check_dockerfile
    if: ${{ always() && !cancelled() }}
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.tag.outputs.TAG }}
    environment:
      name: docker_image
      url: ${{inputs.registry}}/${{github.repository}}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Free Disk Space - Ubuntu Runners
        uses: endersonmenezes/free-disk-space@e6ed9b02e683a3b55ed0252f1ee469ce3b39a885 # v3
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: true
          remove_packages_one_command: true
          rm_cmd: "rmz"
          remove_folders: >
            /usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell
            /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Get Python version from pyproject.toml
        id: get_python_version
        uses: mikefarah/yq@45be35c06387d692bb6bf689919919e0e32e796f # v4.49.1
        with:
          cmd: yq -roy '.project.requires-python' pyproject.toml
      - name: Log in to ${{ inputs.registry }} Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ inputs.registry }}
          username: mh0386
          password: ${{ inputs.registry == 'ghcr.io' && secrets.GH_TOKEN || inputs.registry == 'docker.io' && secrets.TOKEN_KEY_DOCKER
            }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5
        with:
          images: ${{ inputs.registry }}/${{ github.repository }}
          tags: |
            type=raw,value=latest,enable=${{ github.event_name == 'push' && contains(github.ref, 'refs/tags/') }}
            type=ref,event=pr,prefix={{sha}}-pr-
            type=ref,event=tag
            type=ref,event=branch
      - name: Build and Push to ${{ inputs.registry }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        id: push
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          build-args: |
            INSTALL_SOURCE=${{ inputs.install_source }}
            PYTHON_VERSION=${{ steps.get_python_version.outputs.result }}
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        if: ${{ inputs.is_test == false }}
        with:
          subject-name: ${{ inputs.registry == 'docker.io' && 'index.docker.io' || inputs.registry }}/${{ github.repository
            }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      - name: Update Docker Hub Description
        if: ${{ inputs.registry == 'docker.io' }}
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: mh0386
          password: ${{ secrets.TOKEN_KEY_DOCKER }}
          repository: ${{ github.repository }}
          short-description: ${{ github.event.repository.description }}
          enable-url-completion: true
      - name: Export tag for Testing and Scanning
        id: tag
        run: echo "TAG=$(echo "${{ steps.meta.outputs.tags }}" | tail -n 1)" >> $GITHUB_OUTPUT
  docker_scout:
    name: Docker Scout (${{ matrix.commands }})
    needs: build_image
    if: ${{ always() && !cancelled() }}
    runs-on: ubuntu-latest
    environment:
      name: docker_image
    strategy:
      fail-fast: false
      matrix:
        commands:
          - quickview
          - cves
          - recommendations
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Log in to ${{ inputs.registry }} Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ inputs.registry }}
          username: mh0386
          password: ${{ inputs.registry == 'ghcr.io' && secrets.GH_TOKEN || inputs.registry == 'docker.io' && secrets.TOKEN_KEY_DOCKER
            }}
      - name: Docker Scout
        uses: docker/scout-action@f8c776824083494ab0d56b8105ba2ca85c86e4de # v1
        continue-on-error: true
        with:
          command: ${{ matrix.commands }}
          dockerhub-user: mh0386
          dockerhub-password: ${{ secrets.TOKEN_KEY_DOCKER }}
          image: ${{ needs.build_image.outputs.image_tag }}
          github-token: ${{ secrets.GH_TOKEN }}
  api_test:
    name: API Test
    needs: build_image
    runs-on: ubuntu-latest
    if: ${{ always() && !cancelled() && inputs.is_test }}
    environment:
      name: api_test
    services:
      vocalizr:
        image: ${{ needs.build_image.outputs.image_tag }}
        ports:
          - 7860:7860
        options: >-
          --health-cmd "curl -o /dev/null -f -s -w 'Status: %{http_code}, Time: %{time_total}s' http://localhost:7860/" --health-interval
          10s --health-timeout 10s --health-start-period 20s --health-retries 15
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Echo URL
        run: echo "Vocalizr available on localhost:${{ job.services.vocalizr.ports['7860'] }}"
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          activate-environment: true
      - name: Install deps
        run: uv sync --only-dev
      - name: Test
        env:
          VOCALIZR_URL: http://localhost:${{ job.services.vocalizr.ports['7860'] }}/
          MERGIFY_TOKEN: ${{ secrets.MERGIFY_TOKEN }}
        uses: pavelzw/pytest-action@510c5e90c360a185039bea56ce8b3e7e51a16507 # v2
        with:
          click-to-expand: false
          custom-arguments: "tests/test_app.py::test_app -p no:warnings"
  clean:
    name: Cleaning GHCR
    needs:
      - api_test
      - docker_scout
    if: ${{ always() && !cancelled() && inputs.registry == 'ghcr.io' }}
    runs-on: ubuntu-latest
    environment:
      name: docker_image
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: GHCR Cleaning
        uses: snok/container-retention-policy@3b0972b2276b171b212f8c4efbca59ebba26eceb # v3.0.1
        with:
          account: ${{ github.repository_owner }}
          token: ${{ secrets.GH_TOKEN }}
          image-names: ${{ github.event.repository.name }}
          image-tags: "!latest !*.*.*"
          cut-off: 1s
