name: Docker Image
on:
  workflow_call:
    inputs:
      is_test:
        type: boolean
        required: true
        description: Test Mode
      registry:
        type: string
        required: true
        description: Registry
      install_source:
        type: string
        required: true
        description: Source to install from (e.g., PyPI Package or Git source)
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
jobs:
  build_apk:
    name: Build APK with Melange
    runs-on: ubuntu-latest
    if: ${{ inputs.is_test }}
    environment:
      name: code_quality
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Install Melange
        uses: addnab/docker-run-action@v3
        with:
          registry: cgr.dev
          image: chainguard/melange:latest-dev
          options: --rm -v ${{ github.workspace }}:/work
          run: melange keygen
          shell: bash
      - name: Build APK
        uses: addnab/docker-run-action@v3
        with:
          registry: cgr.dev
          image: chainguard/melange:latest-dev
          options: --privileged --rm -v ${{ github.workspace }}:/work
          run: melange build melange.yaml --arch amd64 --signing-key melange.rsa
          shell: bash
      - name: Upload APK artifact
        uses: actions/upload-artifact@v5
        with:
          name: apk
          path: |
            packages/
            melange.rsa.pub
  build_image:
    name: Build and push Docker image to ${{ inputs.registry }}
    needs: build_apk
    if: ${{ always() && !cancelled() }}
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.tag.outputs.TAG }}
    environment:
      name: docker_image
      url: ${{inputs.registry}}/${{github.repository}}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Free Disk Space
        if: github.event_name != 'pull_request'
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Download APK artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: apk
      - name: Log in to ${{ inputs.registry }} Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ inputs.registry }}
          username: mh0386
          password: ${{ inputs.registry == 'ghcr.io' && secrets.GH_TOKEN || inputs.registry == 'docker.io' && secrets.TOKEN_KEY_DOCKER }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5
        with:
          images: ${{ inputs.registry }}/${{ github.repository }}
          tags: |
            type=raw,value=latest,enable=${{ github.event_name == 'push' && contains(github.ref, 'refs/tags/') }}
            type=ref,event=pr,prefix={{sha}}-pr-
            type=ref,event=tag
            type=ref,event=branch
      - name: Build and Push to ${{ inputs.registry }}
        uses: chainguard-images/actions/apko-publish@v1.0.7
        id: apko
        with:
          tag: ${{ steps.meta.outputs.tags }}
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        if: ${{ inputs.is_test == false }}
        with:
          subject-name: ${{ inputs.registry == 'docker.io' && 'index.docker.io' || inputs.registry }}/${{ github.repository }}
          subject-digest: ${{ steps.apko.outputs.digest }}
          push-to-registry: true
      - name: Update Docker Hub Description
        if: ${{ inputs.registry == 'docker.io' }}
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: mh0386
          password: ${{ secrets.TOKEN_KEY_DOCKER }}
          repository: ${{ github.repository }}
          short-description: ${{ github.event.repository.description }}
          enable-url-completion: true
      - name: Export tag for Testing and Scanning
        id: tag
        run: echo "TAG=$(echo "${{ steps.meta.outputs.tags }}" | tail -n 1)" >> $GITHUB_OUTPUT
  docker_scout:
    name: Docker Scout (${{ matrix.commands }})
    needs: build_image
    if: ${{ always() && !cancelled() }}
    runs-on: ubuntu-latest
    environment:
      name: docker_image
    strategy:
      fail-fast: false
      matrix:
        commands:
          - quickview
          - cves
          - recommendations
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Log in to ${{ inputs.registry }} Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ inputs.registry }}
          username: mh0386
          password: ${{ inputs.registry == 'ghcr.io' && secrets.GH_TOKEN || inputs.registry == 'docker.io' && secrets.TOKEN_KEY_DOCKER }}
      - name: Docker Scout
        uses: docker/scout-action@f8c776824083494ab0d56b8105ba2ca85c86e4de # v1
        continue-on-error: true
        with:
          command: ${{ matrix.commands }}
          dockerhub-user: mh0386
          dockerhub-password: ${{ secrets.TOKEN_KEY_DOCKER }}
          image: ${{ needs.build_image.outputs.image_tag }}
          github-token: ${{ secrets.GH_TOKEN }}
  api_test:
    name: API Test
    needs: build_image
    runs-on: ubuntu-latest
    if: ${{ always() && !cancelled() && inputs.is_test }}
    environment:
      name: api_test
    services:
      vocalizr:
        image: ${{ needs.build_image.outputs.image_tag }}
        ports:
          - 7860:7860
        options: >-
          --health-cmd "curl -o /dev/null -f -s -w 'Status: %{http_code}, Time: %{time_total}s' http://localhost:7860/" --health-interval 10s
          --health-timeout 10s --health-start-period 20s --health-retries 15
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Echo URL
        run: echo "Vocalizr available on localhost:${{ job.services.vocalizr.ports['7860'] }}"
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          activate-environment: true
      - name: Install deps
        run: uv sync --only-dev
      - name: Test
        env:
          VOCALIZR_URL: http://localhost:${{ job.services.vocalizr.ports['7860'] }}/
          MERGIFY_TOKEN: ${{ secrets.MERGIFY_TOKEN }}
        uses: pavelzw/pytest-action@510c5e90c360a185039bea56ce8b3e7e51a16507 # v2
        with:
          click-to-expand: false
          custom-arguments: "tests/test_app.py::test_app -p no:warnings"
  clean:
    name: Cleaning GHCR
    needs:
      - api_test
      - docker_scout
    if: ${{ always() && !cancelled() && inputs.registry == 'ghcr.io' }}
    runs-on: ubuntu-latest
    environment:
      name: docker_image
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: GHCR Cleaning
        uses: snok/container-retention-policy@3b0972b2276b171b212f8c4efbca59ebba26eceb # v3.0.1
        with:
          account: ${{ github.repository_owner }}
          token: ${{ secrets.GH_TOKEN }}
          image-names: ${{ github.event.repository.name }}
          image-tags: "!latest !*.*.*"
          cut-off: 1s
