name: Trunk Code Quality
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  trunk:
    name: Trunk Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Trunk Code Quality
        uses: trunk-io/trunk-action@v1
        with:
          post-annotations: true 
